body { 
   overflow-x: hidden;
}

.header-2__form__textbox {
    margin-right: 1.25rem;
    width: 10.5625rem;
    margin-top: 15px;

}

.input {
    width: 170px;
  height: 60px;
  opacity: 0.4;
  border-radius: .375rem;
   border: .125rem solid rgba(255, 255, 255, 0);
  background-color: rgba(72, 122, 141, 0.4);
  border: solid 2px #ffffff;
  padding: 1.25rem;
}


.input_large {
  width: 361px;
  height: 60px;
  opacity: 0.4;
  border-radius: 6px;
  background-color: rgba(72, 122, 141, 0.4);
  border: solid 2px #ffffff;

}


.submit_button {
	width: 361px;
}

.rectangle {
	 width: 30px;
  height: 2px;
  opacity: 0.4;
  background-color: #ffffff;
  display:inline-block;
  margin-bottom: -10px;
}
.year_from {

	margin-right:0;

}

.extra_margin {

	    margin-right: 2.25rem;

}

.text_search {
    width: 22.5625rem !important;
        margin-left: -8px;
            margin-right: 29px;
            

}


.credentials {
	margin-left: 12rem;
	 width: 130px;
  height: 25px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.56;
  text-align: center;
  color: #86939e;
}

.privacy {
	margin-right: 12rem;
	width: 231px;
  height: 25px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.56;
  text-align: right;
  color: #86939e;
}

.header-2 {
    position: relative;
     background-image: url("../img/image.png");
    background-color: #358ed7;
    background-repeat:no-repeat;
    background-position: center; 
    background-size:cover;
}
select {
  width: 46px;
  height: 16px;
  opacity: 0.7;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: #ffffff;
}



.photo {

      width: 360px;
  height: 260px;
  background-color:yellow;
}

.container {

  width: 95%;
  margin:0 auto;
}

.photo_display {
      width: 360px;
    height: 260px;
   border-top-left-radius:6px;
   border-top-right-radius:6px;
  background-color: #ffffff;
  box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.1);
}

.photo_display img {
  image-rendering: auto;
}
.auto {
  margin-top:50px;
  margin-bottom:50px;

 

}
.auto_body {
  text-align:center;
      width: 360px;
    border-radius: 6px;
    background-color: #ffffff;
    box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.1);
    padding-top: 25px;
    padding-bottom: 36px;
}

.auto_body_result {
  text-align:center;
 
}

.auto_title {
  height: 25px;
  font-family: Roboto;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  color: #43484d;
    margin-left: 25px;
}

.auto_description {
  width: 300px;
  height: 44px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.57;
  text-align: center;
  color: #86939e;
  margin:0 auto;
}

.newest_auto {
  margin:0 auto;
   width: 264px;
  height: 58px;
  font-family: Roboto;
  font-size: 32px;
  font-weight: 300;
  line-height: 1.19;
  color: #43484d;

}


.vendor {
  margin:0 auto;
  margin-top:35px;
   width: 94.5px;
  height: 18px;
}

.vendor_result {
  margin:0 auto;
   width: 94.5px;
  height: 18px;
}

.auto_fieldset {
  background-color: #f4f4f4;
}


.arrow {
    color:white;
    margin-left: -30px;
    margin-top: 6px;
    position: absolute;
    top: 50%;
    width: 0;
    font-size:25px;
}

.result_search{
  width:100%;
  height:120px;
  background-color: #ffffff;
}

.make {
   border: solid 1px #f2f2f2;
  height:60px;
}
.result_title_search {
  width: 52px;
  height: 25px;
      margin-top: 16px;
    margin-bottom: 18px;
    margin-left: 17px;
    text-transform: uppercase;
    font-family: Roboto;
  font-size: 12px;
  line-height: 2.08;
  letter-spacing: 1px;
  color: #aebac5;
  display:inline-block;
}

.search {
  display:inline-block;
}


.result_title_search_long {
  width: 121px;
  height: 25px;
      margin-top: 16px;
    margin-bottom: 18px;
    margin-left: 17px;
    text-transform: uppercase;
    font-family: Roboto;
  font-size: 12px;
  line-height: 2.08;
  letter-spacing: 1px;
  color: #aebac5;
  display:inline-block;
}

.result_show_grid {
  margin-left:133px !important;
  margin-right:-103px !important;
}
.photo_result {
  float:left;
  border-bottom-left-radius: 6px !important;
  border-top-right-radius: 0px !important;
}


.auto_result_desciption {
 
    font-family: Roboto;
    font-size: 14px;
    line-height: 1.57;
    text-align: center;
    color: #86939e;
    margin: 0 auto;
    margin-top: 100px;
        display: inline-block;
    margin-left: -230px;x
}


.result_list_title {
  font-family: Roboto;
  font-size: 12px;
  line-height: 2.08;
  letter-spacing: 1px;
  color: #86939e;

}
.list_year {
  display:inline-block;

}

.blocki {
    width: 360px;
  height: 440px;
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.1);
  margin-bottom:25px;
}

.block_result {
  display:inline-block;
  margin-left:50px;
}


.block_list_result {
  width: 89%;
  height: 260px;
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.1);
  margin-bottom:25px;
  margin-left:50px;
  display:inline-block;


}

.auto_title_list {
        width: 40%;
    height: 25px;
    font-family: Roboto;
    font-size: 20px;
    line-height: 1.25;
    color: #43484d;
    margin-top: 46px;
    /* margin-left: 300px; */
    text-align: left;
    margin-left:0px;

}

.auto_body_list {

      
       width: 84%;
    position: relative;
    margin-top: -200px;
    height: 200px;
    float: right;
   
}

.price {
  float:right;
}


.contra {


  height:260px;

}

.auto_container {
  margin-top:50px;
  margin-left: -82px;
  margin-right:-8px;
}

.auto_display1 {
      text-align: center;
    margin-top: 25px;
    width: 60%;
    display: inline-block;
}
.blockit {
    width: 100%;
  height: 200px;
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.1);
  margin-bottom:25px;
  display:block;
}

.photo_display1 {
     width: 270px;
    height: 200px;
    border-top-left-radius: 6px;
    border-top-right-radius: 0px;
    background-color: #ffffff;
    box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 6px;
}


.full_width_result {
  width:97%;
  padding:0;
  margin-left:10px;
}

.auto_price {
      height: 25px;
    font-family: Roboto;
    font-size: 18px;
    line-height: 1.39;
    text-align: center;
    color: #43484d;
    margin-left: 25px;
}

.auto_price_list {
      padding: 0;
    margin: 0;
    margin-right: 0px;
    float: right;
    margin-top: -33px;
}

.first_list_line {
     
          padding-right: 30px;
          padding-left: 40px;
}

.auto_description_full {
  width:100%;
}

.date_list {
      float: left;
    padding-left: 40px;
}

.miles_list {
   
}

.engine_list {
  float:right;
  padding-right:30px;
}

.gear_list {
  margin-right: 83px;

}

.vendor_list {
      width: 94.5px;
    height: 18px;
    float: right;
    margin-top: -30px;
    margin-right: 36px;
}

.show_result {
  width: 123px !important;
  height: 25px;
  font-family: Roboto;
  font-size: 12px;
  line-height: 2.08;
  letter-spacing: 1px;
  color: #86939e;
  text-transform: uppercase;
  display: inline !important;
}

.no_show {
  display:none ;
  width:0px ;
}


.auto_description {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.79;
  color: #43484d;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.auto_title_result {
  display: inline;
  height: 25px;
    font-family: Roboto;
    font-size: 18px;
    line-height: 1.39;
    text-align: center;
    color: #43484d;
    margin-left: 25px;

}

.auto_price_result {
  display: inline;
  height: 25px;
    font-family: Roboto;
    font-size: 18px;
    line-height: 1.39;
    text-align: center;
    color: #43484d;
    margin-left: 25px;
}

.selection {
  border: none;
    background: transparent;
    box-shadow: none;
}

#grid {
    opacity: 0.3;
    border-radius: 2px;
    color: #3a405b;
    font-size:21px;
}

#list {
     opacity: 0.3;
    border-radius: 2px;
    color: #3a405b;
    font-size:21px;
}

.gridlist {
  padding: 7px 0px 0px 20px;
}
}