.header-2__form__textbox {
    margin-right: 1.25rem;
    width: 10.5625rem;
    margin-top: 15px;

}

.input {
    width: 170px;
  height: 60px;
  opacity: 0.4;
  border-radius: .375rem;
   border: .125rem solid rgba(255, 255, 255, 0);
  background-color: rgba(72, 122, 141, 0.4);
  border: solid 2px #ffffff;
  padding: 1.25rem;
}


.input_large {
  width: 361px;
  height: 60px;
  opacity: 0.4;
  border-radius: 6px;
  background-color: rgba(72, 122, 141, 0.4);
  border: solid 2px #ffffff;

}


.submit_button {
	width: 361px;
}

.rectangle {
	 width: 30px;
  height: 2px;
  opacity: 0.4;
  background-color: #ffffff;
  display:inline-block;
  margin-bottom: -10px;
}
.year_from {

	margin-right:0;

}

.extra_margin {

	    margin-right: 2.25rem;

}

.text_search {
    width: 22.5625rem !important;
        margin-left: -8px;
            margin-right: 29px;
            

}


.credentials {
	margin-left: 12rem;
	 width: 130px;
  height: 25px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.56;
  text-align: center;
  color: #86939e;
}

.privacy {
	margin-right: 12rem;
	width: 231px;
  height: 25px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.56;
  text-align: right;
  color: #86939e;
}

.header-2 {
    position: relative;
     background-image: url("../img/image.png");
    background-color: #358ed7;
    background-repeat:no-repeat;
    background-position: center; 
    background-size:cover;
}
select {
  width: 46px;
  height: 16px;
  opacity: 0.7;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: #ffffff;
}

.block {
    width: 360px;
  height: 440px;
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.1);
  margin-bottom:25px;
}

.photo {

      width: 360px;
  height: 260px;
  background-color:yellow;
}

.container {

  width: 95%;
  margin:0 auto;
}

.photo_display {
  width: 360px;
  height: 260px;
   border-top-left-radius:6px;
   border-top-right-radius:6px;
  background-color: #ffffff;
  box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.1);
}
.auto {
  margin-top:50px;
  margin-bottom:50px;

}
.auto_body {
  text-align:center;
  margin-top:25px;
}

.auto_title {
  height: 25px;
  font-family: Roboto;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  color: #43484d;
}

.auto_description {
  width: 300px;
  height: 44px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.57;
  text-align: center;
  color: #86939e;
  margin:0 auto;
}

.newest_auto {
  margin:0 auto;
   width: 264px;
  height: 58px;
  font-family: Roboto;
  font-size: 32px;
  font-weight: 300;
  line-height: 1.19;
  color: #43484d;

}


.vendor {
  margin:0 auto;
  margin-top:35px;
   width: 94.5px;
  height: 18px;
}

.auto_fieldset {
  background-color: #f4f4f4;
}

